{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'project4.css' %}?v=10">
{% endblock %}

{% block content %}

<!-- Top navigation bar -->
<div class="top-bar">
  <a href="{% url 'project4:index' %}" class="proj4-button">Project 4</a>
</div>

<!-- Page content -->
<div class="page-with-topbar project4 pre">

  <h1>Pre-Survey</h1>

  <form method="post">
    {% csrf_token %}

    <div class="question">
      <p class="explain">How much would you trust this recommender system right now (1 = not at all, 5 = fully)?</p>
      <input id="trust" name="trust" type="number" min="1" max="5" required>
    </div>

    <div class="question">
      <p class="explain">How helpful do you expect the system’s recommendations will be (1 = not useful, 5 = very useful)?</p>
      <input id="usefulness" name="usefulness" type="number" min="1" max="5" required>
    </div>

    <div class="question">
      <p class="explain">How familiar are you with recommendation systems (like Netflix, Amazon, Spotify) (1 = not familiar, 5 = very familiar)?</p>
      <input id="expertise" name="expertise" type="number" min="1" max="5" required>
    </div>

    <button type="submit">Continue →</button>
  </form>
</div>

{% endblock %}
